.combo-box .cell{
    -fx-text-fill: white;
}
.my-list-cell {
    -fx-text-fill: white;
    -fx-background-color:  #121212;
}

.combo-box-popup .list-view 
{
    -fx-background-color:  #121212;
}    

.combo-box-popup .list-view .list-cell 
{
    -fx-background-color: #121212;
}